* {
	margin: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
	background-color: #FFD900;
	min-height: 118px;
	width: 100%;
}
	header img{
		width: 202px;
		padding: 2rem 0rem 2rem 5rem;
	}

main{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 46.41% auto;
	text-align: center;
}
	#description{
		padding-top: 30px;
		padding-bottom: 92px;
		padding-right: 60px;
		padding-left: 65px;

		background: #514988;
		color: #FFF;
	}
		#description h1{
			color: #F3C61F;

			font-size: 70px;
			line-height: 85px;
			letter-spacing: 0em;
		}
		#description h2{
			font-size: 30px;
			font-weight: 700;
			line-height: 36px;
			letter-spacing: 0em;

			text-align: center;
		}
		#description p {
			font-weight: 400;
			font-size: 29px;
			line-height: 35px;
		}
	.timer{
		padding-top: 30px;
		padding-right: 60px;
		padding-left: 45px;
		font-weight: 700;
		font-size: 70px;
		line-height: 85px;

		display: flex;
		justify-content: left;
		color: #514988;
	}
		.countdown{
			padding-right: 4rem; /* Espaçamento entre os dígitos do contador */
		}
	#video p{
		padding-left: 45px;
		padding-bottom: 1rem;
		font-weight: bold;
		font-size: 30px;
		line-height: 36px;

		align-items: center;
		text-align: left;
		color: #E33881;
	}
	
	#video video{
		width: 97%;
	}

footer p{
	color: #F3C61F;
	
	font-weight: bold;
	font-size: 27px;
	padding: 15px 0px 15px 89px;
}
footer div{
	display: flex;
	align-items: center;
}
footer img{
	width: 204px;
	padding-bottom: 38px;
}
	footer img#qui{
		padding-left: 81px;
	}
footer #btnGaranta{
	background: #514988;
	color: #FFFFFF;

	font-weight: bold;
	font-size: 42px;
	text-align: center;

	width: 596px;
	height: 148px;
	border-radius: 20px;
	margin: 0px 0px 38px 107px;
}